{% extends 'admin/master.html' %}

{% block body %}
{%if current_user.is_authenticated%}
<h1 class="text-center text-info">CHÀO MỪNG BẠN ĐẾN VỚI TRANG QUẢN TRỊ !!!</h1>
<h2>Chào {{current_user.name}}</h2>
{% else %}
<form action="/action_page.php">
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Username:</label>
    <input type="text" class="form-control" id="email" placeholder="Enter email" name="text">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endif%}
{% endblock %}
